
.first {
    background-color: #FFE0B2;
    padding: 50px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    width: 50%;
}

.text-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-content .description {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.form {
    display: flex;
    align-items: center;
}

.email {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.btn {
    padding: 10px 10px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.note {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
}

.image-content {
    width: 40%;
    text-align: right;
}

.image {
    max-width: 100%;
    height: auto;
}

/* Footer Section */
.footer-section {
    background-color: #1E1E1E;
    color: #FFF;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.left ul {
    list-style: none;
    padding-left: 0;
}

.left ul li {
    margin-bottom: 10px;
}

.left ul li a {
    color: #FFF;
    text-decoration: none;
}


.right p {
    margin: 0 0 10px;
}

.right .social-links a {
    color: #FFF;
    margin-right: 15px;
    text-decoration: none;
}

.right .social-links a:hover {
    text-decoration: underline;
}

.right a {
    color: #FFF;
    text-decoration: none;
}

